@font-face {
    font-family: 'Quicksand';
    src: url(fonts/Quicksand-VariableFont_wght.ttf);
}

@mixin font($f, $fw) {
    font-size: $f;
    font-weight: $fw;
    font-family: 'Quicksand';
}

.footer {
    margin-top: 120px;

    p {
        @include font(17px, 500);
        color: #AEB8D0;
        margin-top: 60px;
        margin-left: 260px;
        margin-bottom: 80px;
    }
}

.footer__a1 {
    font-weight: 400;
}

.footer__icons {
    margin-left: 1300px;
    position: absolute;
    margin-top: -40px;

    img {
        margin-right: 40px;
        width: 23px;
        height: 23px;
    }
}

@media screen and (max-width: 1440px) {
    .footer__icons {
        margin-left: 1260px;
        margin-right: -500px;
        margin-top: -48px;
        img {
            width: 28px;
            height: 28px;
        }
    }
}