@font-face {
    font-family: 'Quicksand';
    src: url(fonts/Quicksand-VariableFont_wght.ttf);
}

@mixin font($f, $fw) {
    font-size: $f;
    font-weight: $fw;
    font-family: 'Quicksand';
}

body {
    padding-top: 30px;
}

.header__logo { 
    width: 30px;
    height: 30px;
    margin-left: 140px;
}

.menu {

    &__ul {
        @include font(17px, 500);
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-left: 220px;
        margin-top: -27px;
    }

    &__link {
        margin-right: 60px;
    }


}

nav a {
    text-decoration: none;
    color: #697CA6;

    &:active {
        @include font(17px, 600);
        color: #5E81FE;
    }
    
    &:hover {
        @include font(19px, 600);
        color: #5E81FE;
    }
}

.header__icons {

    margin-left: 1300px;
    position: absolute;
    margin-top: -40px;

    img {
        margin-right: 40px;
        width: 30px;
        height: 30px;
    }

}

.header__btn {
    font-family: 'Quicksand';
    position: absolute;
    color: #3A79FF;
    @include font(1.3em, 700);
    background-color: #D2E1FF;
    border: 0;
    border-radius: 3%;
    padding: 20px 32px 20px 32px;
    margin-left: 1620px;
    margin-top: -58px;
    cursor: pointer;
}

@media screen and (max-width: 1440px) {

    .header__logo {
        width: 40px;
        height: 40px;
    }

    nav ul {
        font-size: 1.4em;
        margin-top: -35px;
    }

    .header__icons {
        margin-left: 1200px;
        margin-right: -200px;

        img {
            width: 40px;
            height: 40px;
            margin-top: -15px;
        }
    }

    .header__btn {
        font-size: 1.5em;
        padding: 20px 40px 20px 40px;
        margin-left: 1600px;
        margin-right: -500px;
        margin-top: -70px;
    }
}